---
Author: Chania Hoffman 
Title: Animal Health 
Type: Take Home Assignment
Date: May 3, 2016
---

## Greasy Pig Disease ##

Greasy pig disease or otherwise known as exudative epidermitis is caused by the bacterium, Staphylococcus hyicus. Symptoms of the disease include; skin lesions, skin becomes wrinkled with flaking, skin changes to a brown color, and develops a greasy feel. Prevention of the disease is all about sanitation and preventing injuries. Try to prevent pigs from cuts and abrasions and observe the proper method for docking tails and clipping teeth. Spray the sow’s udder with an iodine based antiseptic daily for three days before and after farrowing. Sanitize the weaning and farrowing areas often. Antibiotics are very successful in the treatment of greasy pig disease. An antimicrobial should be administered in high doses early in the disease and should be continued for 7 days. Greasy pig disease is not zoonotic, but can be transmitted to other pigs. 

## Swine Erysipelas ##

Swine erysipelas is an infectious disease that is caused by the bacterium, Erysipelothrix rhusiopathiae. Symptoms of the disease include; high fever, abortion stillbirths, mummified piglets, diamond shaped lesions called rhomboid urticaria, stiffness or reluctance to move, loss of appetite, arthritis, lameness, and can result in death. Vaccines are available to prevent erysipelas, such as injectable bacterins and attenuated, live vaccines that can be administered via waterers. Breeding stock should be vaccinated twice a year and piglets should be vaccinated around weaning. Awareness of sanitation and hygiene are important and cull any pigs that suggest erysipelas infection. Penicillin is probably the most common treatment of erysipelas, and is usually administered in 12 hour intervals for a minimum of three days. Tetracylclines are also an effective treatment, especially for treatment of a large number of pigs and can be administered in the feed or water. The disease is often transmitted in the feces or oronasal secretions from carriers. Erysipelas is a zoonotic disease and can be transmitted to humans.  
